.form-menu-container {
  height: 250px;
  width: 100%;
  background-color: #27cfb3;
  border-bottom-left-radius: 100px;
  display: block;
}
.content-form h2,
.content-list h2 {
  color: #a9a1a1;
  font-size: 30px;
  font-weight: 500;
}
.content-form label {
  color: #a9a1a1;
  font-size: 23px;
}
.content-list {
  margin-left: 40px;
}
.form-box {
  display: flex;
}
.label-box {
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.input-box {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.input-box input {
  width: 300px;
  height: 25px;
  font-size: 20px;
  border: none;
  border-bottom: 1px solid #a1a9a9;
}
.input-box select {
  width: 150px;
  height: 30px;
  font-size: 15px;
  border: none;
  border-bottom: 1px solid #a1a9a9;
}
.content-form {
  margin: 0 40px;
}
.form-submit,
.set-submit {
  border-style: none;
  font-size: 23px;
  color: #a9a1a1;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 15px;
  margin-top: 20px;
}
.exercise-set-list {
  width: inherit;
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  min-width: 90%;
  border-radius: 22px;
  background: aliceblue;
  padding: 15px;
}

/* exercise list */
.exercise-list {
  display: flex;
  background: #fbfbfb;
  border-radius: 20px;
  padding: 20px;
  flex-wrap: wrap;
  /* justify-content: center; */
  margin: 25px;
}
.exercise-box {
  padding: 0 20px;
  margin: 25px;
  position: relative;
}
.exercise-img {
  width: 150px;
  height: 150px;
}
.exercise-hover {
  border-radius: 100px;
  width: 150px;
  height: 150px;
  background-color: #2b2b2b;
  opacity: 0;
  position: absolute;
  display: none;
  color: white;
  font-size: 30px;
}

.exercise-box:hover .exercise-hover {
  cursor: pointer;
  transition: 1s;
  transition-property: opacity;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exercise-img img {
  border-radius: 100px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 2px 13px #dcdcdc;
}
.exercise-title {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  color: #585858;
}
.left-arrow,
.right-arrow {
  font-size: 35px;
  width: 40px;
  height: 40px;
  background-color: #efefef;
  border-radius: 100px;
  color: #27cfb3;
  position: relative;
  top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.left-arrow {
  left: 15px;
}
.right-arrow {
  right: 15px;
}
