html {
  scroll-behavior: smooth;
}
.form-menu-container {
  height: 250px;
  width: 100%;
  background-color: #27cfb3;
  border-bottom-left-radius: 100px;
  display: block;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-form h2,
.content-list h2 {
  color: #a9a1a1;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: "NanumSquare_acR";
}
.content-form label {
  color: #a9a1a1;
  font-size: 23px;
}
.content-form form {
  background: #fbfbfb;
  border-radius: 20px;
  padding: 3rem;
  margin: 1.5rem 0 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-list-wrapper {
  width: 95%;
  margin: 3rem 0;
}
.content-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-form {
  flex-direction: column;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 62vh;
}
.form-submit {
  border-style: none;
  font-size: 1.5rem;
  color: #a9a1a1;
  cursor: pointer;
  border-radius: 20px;
  padding: 0.4rem 1.2rem;
  margin-top: 20px;
}
.list-wrapper {
  position: relative;
  width: 85%;
}
.exercise-set-list {
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
  width: 100%;
  border-radius: 22px;
  background: aliceblue;
  padding: 1rem;
  min-height: 16rem;
  margin: 1.5rem 0 1rem;
}

.left-arrow,
.right-arrow {
  font-size: 35px;
  width: 40px;
  height: 40px;
  background-color: #efefef;
  border-radius: 100px;
  color: #27cfb3;
  position: absolute;
  top: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
}
.left-arrow {
  left: -20px;
}
.right-arrow {
  right: -16px;
}
.page-label {
  display: flex;
  align-items: center;
}
