.form-box {
  display: flex;
}
.label-box {
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}
.input-box input {
  width: 20rem;
  height: 3rem;
  font-size: 1.3rem;
  border: none;
  border: 1px solid #cbcbcb;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px #cbcbcb;
  padding-left: 1rem;
  color: #525252;
  margin-bottom: 1.4rem;
}
.input-box select {
  width: 20rem;
  height: 3rem;
  font-size: 1.3rem;
  border: 1px solid #cbcbcb;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px #cbcbcb;
  padding-left: 1rem;
  color: #525252;
  margin-bottom: 2rem;
}
.set-submit {
  border-style: none;
  font-size: 1.8rem;
  color: #666666;
  cursor: pointer;
  border-radius: 20px;
  margin: 1rem 0 0 1.2rem;
  padding: 0.4rem 1.2rem;
}
