.custom-shape-divider-bottom-1635440065 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635440065 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 86px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1635440065 .shape-fill {
  fill: #ffffff;
}
/* 
.custom-shape-divider-bottom-1635440189 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1635440189 svg {
    position: relative;
    display: block;
    width: calc(154% + 1.3px);
    height: 248px;
}

.custom-shape-divider-bottom-1635440189 .shape-fill {
    fill: #FFFFFF;
} */
#intro-page {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    170deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(39, 207, 179, 1) 0%,
    rgba(0, 188, 202, 1) 84%,
    rgba(21, 161, 241, 1) 100%
  );
  position: relative;
  height: 95vh;
}
#intro-content {
  display: flex;
  justify-content: center;
  color: white;
  height: 70%;
  align-items: center;
}
#intro-text {
  display: flex;
  flex-direction: column;
  font-family: "NanumSquare_acEB";
}
#intro-text a {
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  text-align: center;
  width: 14rem;
  font-size: 1.6rem;
  padding: 0.6rem 0;
  margin-top: 3rem;
}
#intro-title {
  font-size: 4rem;
}
#intro-message {
}
#intro-img img {
  width: 54rem;
  animation: motion 1s /* 속도 */ linear 0s infinite alternate; /* 무한 반복 */
}
@keyframes motion {
  0% {
    margin-top: 0px;
  } /* 처음 위치 */
  100% {
    margin-top: 20px;
  } /* 마지막 위치 */
}
#makeyourset-page {
  height: 85vh;
}
