#text {
  display: flex;
  flex-direction: column;
  font-family: "NanumSquare_acEB";
  width: 32rem;
  word-break: break-word;
  margin: 0 4rem;
}
#page {
  height: 73vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#title {
  font-size: 4.3rem;
  color: #3a6bcf;
  margin: 1rem 0;
}
#message {
  font-size: 1.5rem;
  color: #999999;
}
#title {
  font-size: 4.2rem;
  color: #7e43a8;
  margin: 1rem 0;
}
