.rank-fitness-container {
  background-color: white;
  width: 100%;
  height: 13.8rem;
  margin-top: 2rem;
  border-radius: 50px;
  padding: 6.6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  box-shadow: 0 16px 28px rgb(0 0 0 / 16%);
}

.rank-fitness-container > label {
  font-family: NanumSquare_acR;
  font-size: 1.5rem;
  margin: 0rem 1rem 0.5rem;
  color: #949090;
}

.rank-fitness-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fitness-container {
  display: flex;
  align-items: center;
}

.fitness {
  /* border: 2px solid #27cfb3; */
  box-shadow: 0 5px 12px #d7d7d7;
  width: 8rem;
  height: 8rem;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fitness img {
  width: 100%;
  height: 100%;
}
