.recommend-fitness-container > label {
  font-family: NanumSquare_acR;
  font-size: 1.7rem;
  color: #949090;
  display: flex;
}

.recommend-fitness-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recommend-fitness-container > * {
  margin-bottom: 1rem;
}
