.recommend-set-container {
  width: 90%;
  height: 9.5rem;
  background-color: white;
  border-radius: 30px;
  border: 3px solid #d7dddc;
  display: flex;
  align-items: flex-end;
}

.recommend-set-container > .name {
  background-color: #27cfb3;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 20px;
  font-size: 20px;
  font-family: NanumSquare_acER;
  color: white;
  margin-left: 27px;
  margin-bottom: 18px;
}

.ranking {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.trophy {
  width: 4rem;
  height: 4rem;
  padding-left: 1rem;
}

.ranking > label {
  background-color: white;
  border-radius: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-size: 30px;
  font-family: NanumSquare_acER;
  font-weight: bold;
  color: black;
}

.profile-img > img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  margin-bottom: 10px;
  margin-left: 20px;
  border: 3px solid #27cfb3;
  border-radius: 100px;
}
