.realtime-info-success {
    position: absolute;
    width: 300px;
    height: 35px;
    left: 7%;
    bottom: 65%;
    padding: 15px;
    background-color: #27cfb3;
    z-index: 3;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;

    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: NanumSquare_acEB;
    text-align: left;
}

.realtime-info-fail {
    position: absolute;
    width: 300px;
    height: 35px;
    right: 8%;
    bottom: 65%;
    padding: 15px;
    background-color: #27cfb3;
    z-index: 3;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);
    border-radius: 10px;

    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: NanumSquare_acEB;
    text-align: right;
}

.realtime-pose {
    position: absolute;
    left: 7%;
    bottom: 55%;
    color: rgb(255, 0, 98);
    border: turquoise;
    background-color: rgba( 255, 255, 255, 0 );
    z-index: 3;
    font-size: 60px;
    font-weight: bold;
    font-family: NanumSquare_acEB;
}
