.realtime-info-success {
  font-family: "Pixel_Sans_Serif";
  position: absolute;
  bottom: 78%;
  left: 41%;
  z-index: 3;
  color: #ffdf41;
  font-size: 2.5rem;
}

.realtime-info-fail {
  font-family: "Pixel_Sans_Serif";
  position: absolute;
  bottom: 50%;
  left: 41%;
  z-index: 3;
  color: #fc3e13;
  font-size: 2.5rem;
}

.realtime-pose {
  position: absolute;
  left: 7%;
  bottom: 10%;
  color: rgb(255, 0, 170);
  border: turquoise;
  background-color: rgba(255, 255, 255, 0);
  z-index: 3;
  font-size: 60px;
  font-weight: bold;
  font-family: NanumSquare_acEB;
  text-shadow: 6px 2px 2px white;
}
.current-score {
  display: flex;
  flex-direction: column;
}
.current-success {
  font-family: "Pixel_Sans_Serif";
  color: #ffd400;
  font-size: 1.5rem;
}
.current-fail {
  font-family: "Pixel_Sans_Serif";
  color: #fc3e13;
  font-size: 1.5rem;
}
