.menu2-container {
  height: 800px;
  width: 83%;
  background-color: #27cfb3;
  border-bottom-left-radius: 170px;
  display: block;
}

.menu2-title {
  display: flex;
  width: 100%;
  height: 110px;
  justify-content: space-between;
}

.menu2-title > div > h5 {
  height: 0;
  margin-left: 100px;
  color: #ffffff;
  font-size: 45px;
  margin-top: 40px;
  font-family: NanumSquare_acEB;
}

.menu2-title > div {
  display: flex;
}

.menu2-title > div > img {
  width: 60px;
  height: 60px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.menu2-title > svg {
  margin-right: 100px;
  margin-top: 40px;
}

.menu2-small-title {
  margin-left: 100px;
  font-size: 30px;
}

.menu2-small-title > label {
  color: #ffffff;
}

.videos {
  position: absolute;
  left: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.left-button {
  position: absolute;
  left: 3%;
  bottom: 85%;
  width: 30px;
  height: 30px;
  background-color: #f0eded;
  padding: 10px;
  margin-top: 80px;
  border-radius: 50%;
  z-index: 10;
}

.right-button {
  position: absolute;
  left: 93%;
  bottom: 85%;
  width: 30px;
  height: 30px;
  background-color: #f0eded;
  padding: 10px;
  border-radius: 50%;
  z-index: 10;
}

.set-name {
  position: absolute;
  top: 26.5%;
  left: 8%;
  color: darkgray;
  font-size: 20px;
  font-weight: bold;
  font-family: NanumSquare_acEB;
}

.next-video {
  position: absolute;
  width: 130px;
  height: 150px;
  left: 79%;
  bottom: 10%;
  margin-top: 550px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f0eded;
  z-index: 3;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.16);

  color: darkgray;
  font-size: 22px;
  font-weight: bold;
  font-family: NanumSquare_acEB;
}

.next-video-label > img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.next-video-label {
  display: flex;
  align-items: center;
}

.next-video-pose {
  display: flex;
  background-color: #ffffff;
  border: 3px solid #27cfb3;
}

.next-video-pose > img {
  width: 100%;
  height: 100%;
}

.realtime-video {
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 70rem;
  height: 700px;
  background-color: #ffffff;
  border: 7px dashed #b6f4ea;
  border-radius: 70px;
  margin: 120px 20px 20px 20px;
  padding: 40px;
}
.ready-box {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 70rem;
  height: 700px;
  background-color: #ffffff;
  border: 7px dashed #b6f4ea;
  border-radius: 70px;
  margin: 120px 20px 20px 20px;
  padding: 40px;
}
.ready-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ready-choice {
  display: flex;
  /* flex-direction: column; */
}
.ready-content a {
  background: #27cfb3;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  font-weight: 500;
  width: 15rem;
  height: 3rem;
  text-align: center;
  padding-top: 1rem;
}

.user-video {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 90%;
  margin-right: 13px;
  align-items: flex-end;
}

.user-video > img {
  display: flex;
  transform: scaleX(-1);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.export-video {
  display: flex;
  align-items: center;
  width: 300px;
  height: 600px;
  background-color: #f0eded;
  border-radius: 10px;
  margin-left: 15px;
  padding: 10px;
  position: absolute;
  right: 100%;
  bottom: 5%;
  justify-content: center;
}

.export-video > .export {
  display: flex;
  object-fit: contain;
  width: 100%;
  height: auto !important;
}
.export-video video {
  width: 100%;
}


.training-result-wrapper{
  background-color: #fff;
  height: 60%;
  margin-left: 250px;
  margin-top: 40px;
  margin-right: 250px;
  border-radius: 30px;
  padding: 40px;
  border: dashed #27cfb3 6px;
}

.result-title{
  
  display: flex;
}

.result-title > label {
  color: #565454;
  font-size: 35px;
  font-weight: bold;
  font-family: NanumSquare_acEB;
  /* border-bottom: turquoise solid 2px; */
  margin-bottom: 20px;
  justify-content: center;
  margin-left: 10px;
}

.result-container{
  display: flex;
  flex-direction: row;
  /* margin-top: 20px; */
}

.result-list{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 50px;
  margin-right: 100px;
}

.result-line {
  border-bottom: turquoise solid 2px;
}

.result-check-label{
  color:#A9A1A1;
  font-size: 30px;
  font-weight: bold;
  font-family: NanumSquare_acB;
  margin-bottom: 10px;
  justify-content: center;
}


.result-check{
  color: #05886A;
  margin-right: 20px;
}

.result-footer {
  margin-left: 40px;
}

.result-footer > label{
  /* color:#A9A1A1; */
  font-size: 30px;
  font-weight: bold;
  font-family: NanumSquare_acEB;
  margin-bottom: 10px;
  justify-content: center;
}

.result-fail{
  color: #F31111;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.result-success{
  color: #05886A;
  margin-bottom: 10px;
}